<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <%# to disable zooming: <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> %>
  </head>

<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= yield(:home_active)%>">
          <%= link_to("Home", home_index_path) %>
        </li>
        <li class="<%= yield(:news_active)%>">
          <%= link_to( "News", news_index_path) %> 
        </li>
        <li class="<%= yield(:blog_active)%>">
          <%= link_to("Blog", blog_index_path) %> 
        </li>
        <li>
          <%= link_to("LinkedIn", "https://www.linkedin.com/pub/greg-mcguirk/32/603/686/en") %>
        </li>
        <li>
          <%= link_to("Twitter", "https://twitter.com/bgregmc")%>
        </li>
        <li>
          <%= link_to("Github", "https://github.com/bgreg") %> 
        </li>
        <li>
          <%= link_to("Ruby Workshop", "http://www.meetup.com/Silicone-Valley-Ruby-Workshop/") %>
        </li>
        <li>
          <%= link_to("Contact Me","mailto:bgregmc@icloud.com?Subject=Hello", target: "_top" )%>
        </li>
      </ul>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid" role="main">
    <%= yield %>
</div>

</body>
</html>
